Responses ({{ ctrl.invite.responses.length }})

<label>
	<input
		type="radio"
		radiogroup="filter"
		ng-model="ctrl.responseFilter.selected"
		value="true"
	>
	Chosen
</label>

<label>
	<input
		type="radio"
		radiogroup="filter"
		ng-model="ctrl.responseFilter.selected"
		value=""
	>
	Responses
</label>

<rsvp-response
	ng-repeat="response in ctrl.invite.responses | filter:ctrl.responseFilter"
	ng-click="ctrl.toggleResponse(response)"
	response="response"
></rsvp-response>

<button>Email all responders</button>
