<div class="rsvpInviteDetailView rsvpGrid">

	<div class="rsvpGrid--1/2">

		<!--
			Tabs
		-->

		<div class="rsvpPad--leftL rsvpPad--rightXL">

			<label
				class="rsvpTabButton"
				ng-class="{ '-active': ctrl.responseFilter.selected !== 'true' }"
			>
				<input
					type="radio"
					radiogroup="filter"
					ng-model="ctrl.responseFilter.selected"
					value=""
					class="ng-hide"
				>
				Responses ({{ ctrl.invite.responses.length }})
			</label>

			<label
				ng-if="!ctrl.invite.active"
				class="rsvpTabButton"
				ng-class="{ '-active': ctrl.responseFilter.selected === 'true' }"
			>
				<input
					type="radio"
					radiogroup="filter"
					ng-model="ctrl.responseFilter.selected"
					value="true"
					class="ng-hide"
				>
				Chosen ({{ ctrl.numChosen }})
			</label>

			<button
				ng-if="ctrl.invite.active && ctrl.invite.responses.length"
				class="rsvpButton -typePrimary -sizeS rsvpPosition--right"
				ng-click="ctrl.selectWinners()"
			>
				Choose winners
			</button>

		</div>

		<!--
			Responses
		-->

		<div class="rsvpInviteDetailView__responses">
			<rsvp-response
				ng-repeat="response in ctrl.invite.responses | filter:ctrl.responseFilter | orderBy:'name'"
				ng-click="ctrl.invite.method === 'manual' && ctrl.toggleResponse(response)"
				response="response"
			></rsvp-response>
		</div>

		<!--
			Actions
		-->

		<div class="rsvpGrid">

			<button
				ng-if="ctrl.invite.active && ctrl.invite.responses.length"
				class="rsvpButton -typePrimary"
				ng-click="ctrl.selectWinners()"
			>
				Choose winners
			</button>

			<button
				ng-if="!ctrl.invite.active && ctrl.invite.responses.length && !ctrl.invite.sent_time"
				class="rsvpButton -typePrimary"
				ng-click="$root.RsvpDialog.open('wrapup')"
			>
				Email all responders
			</button>

			<button
				ng-if="!ctrl.invite.active && ctrl.invite.responses.length && ctrl.invite.sent_time"
				class="rsvpButton -typeSecondaryAlt"
			>
				Email sent
			</button>

			<div ng-if="!ctrl.invite.responses.length" class="rsvpPad--leftL">
				Looks like no one has responded yet. Sad face.
			</div>

		</div>

	</div>

	<!--
		Charts
	-->

	<div class="rsvpGrid--1/2" ng-if="ctrl.invite.responses.length">
		<rsvp-tenure-chart invite="ctrl.invite" selected="ctrl.responseFilter.selected"></rsvp-tenure-chart>
		<rsvp-dept-chart invite="ctrl.invite" selected="ctrl.responseFilter.selected"></rsvp-dept-chart>
	</div>

</div>

<rsvp-dialog name="wrapup">
	<form name="form" class="rsvpGrid">

		<h2 class="rsvpTextHeading -level2 rsvpText -alignCenter">Wrap-up messages</h2>

		<p>
			<label class="rsvpInputLabel">Message to Chosen Winners</label>
			<textarea ng-model="form.acceptedBody" class="rsvpInput rsvpGrid" rows="6" required></textarea>
		</p>
		<p>
			<label class="rsvpInputLabel">Message to Everyone Else</label>
			<textarea ng-model="form.rejectedBody" class="rsvpInput rsvpGrid" rows="6" required></textarea>
		</p>

		<span class="rsvpPad--rightXS rsvpGrid--1/2">
			<button
				type="button"
				class="rsvpButton -typeSecondary rsvpGrid"
				ng-click="$root.RsvpDialog.close('wrapup')"
			>
				Whoops, Not Yet
			</button>
		</span>

		<span class="rsvpPad--leftXS rsvpGrid--1/2">
			<button
				type="submit"
				class="rsvpButton -typePrimary rsvpGrid"
				ng-click="form.$valid && ctrl.sendWrapUp(form.acceptedBody, form.rejectedBody)"
			>
				{{ ctrl.invite.sent_time ? 'Sending…' : 'Send' }}
			</button>
		</span>

	</form>
</rsvp-dialog>
