<div class="rsvpCreateInviteView">

	<div class="rsvpSlab">
		<span class="rsvpTextCaption">Creating invite</span>
	</div>

	<form name="form" class="rsvpCreateInviteView__form">

		<!--
			Details
		-->

		<fieldset class="rsvpCreateInviteView__formFieldset">
			<h2 class="rsvpTextHeading -level2">
				<rsvp-badge label="1"></rsvp-badge>
				<span>Invite details</span>
			</h2>
			<span class="rsvpDivider"></span>
			<p class="rsvpGrid">
				<label class="rsvpInputLabel">Invite Title</label>
				<input type="text" ng-model="form.invite.title" class="rsvpInput rsvpGrid--1/2" required></textarea>
			</p>
			<p>
				<label class="rsvpInputLabel">Invite Description</label>
				<textarea ng-model="form.invite.invitation_body" class="rsvpInput rsvpGrid" rows="8" required></textarea>
			</p>
			<p>
				<label class="rsvpInputLabel">Number of invitations available</label>
				<input type="number" ng-model="form.invite.response_accept_limit" class="rsvpInput" required>
			</p>
			<p>
				<label class="rsvpInputLabel">RSVP By</label>
				<input type="date" ng-model="form.invite.rsvp_by_date" class="rsvpInput -inline" required>
				<input type="time" ng-model="form.invite.rsvp_by_time" class="rsvpInput -inline" required>
			</p>
			<p>
				<label class="rsvpInputLabel">Email Distribution List</label>
				<input type="email" ng-model="form.invite.email_to" class="rsvpInput" required>
			</p>
		</fieldset>

		<!--
			Winner selection
		-->

		<fieldset class="rsvpCreateInviteView__formFieldset">
			<h2 class="rsvpTextHeading -level2">
				<rsvp-badge label="2"></rsvp-badge>
				<span>Choosing winner(s)</span>
			</h2>
			<span class="rsvpDivider"></span>
			<p>
				<label class="rsvpInputLabel">Method of Choice</label>

				<button
					type="button"
					class="rsvpButton -sizeS"
					ng-class="{ '-selected': form.invite.method === 'firstcomefirstserve' }"
					ng-click="form.invite.method = 'firstcomefirstserve'"
				>
					First Come First Served
				</button>

				<button
					type="button"
					class="rsvpButton -sizeS"
					ng-class="{ '-selected': form.invite.method === 'random' }"
					ng-click="form.invite.method = 'random'"
				>
					Random
				</button>
			</p>
		</fieldset>

		<button
			type="submit"
			class="rsvpButton -typePrimary"
			ng-click="form.$valid && ctrl.createInvite(form.invite)"
			ng-disabled="ctrl.isSending"
		>
			{{ ctrl.isSending ? 'Sending...' : 'Send invitation' }}
		</button>

		<p ng-if="ctrl.hasSendError">
			<rsvp-icon icon="ss-alert"></rsvp-icon>
			An error occurred, please try again.
		</p>

	</form>

</div>
