<div class="rsvpCreateInviteView">

	<div class="rsvpSlab">
		<span class="rsvpTextCaption">Creating invite</span>
	</div>

	<form name="form" class="rsvpCreateInviteView__form">

		<!--
			Details
		-->

		<fieldset class="rsvpCreateInviteView__formFieldset">
			<h2 class="rsvpTextHeading -level2">
				<rsvp-badge label="1"></rsvp-badge>
				<span>Invite details</span>
			</h2>
			<span class="rsvpDivider"></span>
			<p class="rsvpGrid">
				<label class="rsvpInputLabel">Invite Title</label>
				<input type="text" ng-model="ctrl.invite.title" class="rsvpInput rsvpGrid--1/2" required></textarea>
			</p>
			<p>
				<label class="rsvpInputLabel">Invite Description</label>
				<textarea ng-model="ctrl.invite.invitation_body" class="rsvpInput rsvpGrid" rows="8" required></textarea>
			</p>
			<p>
				<label class="rsvpInputLabel">Number of invitations available</label>
				<input type="number" ng-model="ctrl.invite.response_accept_limit" min="1" class="rsvpInput" required>
			</p>
			<p>
				<label class="rsvpInputLabel">RSVP By</label>
				<input type="date" ng-model="ctrl.invite.rsvp_by_date" class="rsvpInput -inline" required>
				<input type="time" ng-model="ctrl.invite.rsvp_by_time" class="rsvpInput -inline">
			</p>
			<p>
				<label class="rsvpInputLabel">Email Distribution List</label>
				<input type="email" ng-model="ctrl.invite.email_to" class="rsvpInput" required>
			</p>
		</fieldset>

		<!--
			Winner selection
		-->

		<fieldset class="rsvpCreateInviteView__formFieldset">
			<h2 class="rsvpTextHeading -level2">
				<rsvp-badge label="2"></rsvp-badge>
				<span>Choosing winner(s)</span>
			</h2>
			<span class="rsvpDivider"></span>
			<p>
				<label class="rsvpInputLabel">Method of Choice</label>

				<button
					type="button"
					class="rsvpButton -sizeS -inline"
					ng-class="{ '-selected': ctrl.invite.method === 'random' }"
					ng-click="ctrl.invite.method = 'random'"
				>
					Random
				</button>

				<button
					type="button"
					class="rsvpButton -sizeS -inline"
					ng-class="{ '-selected': ctrl.invite.method === 'firstcomefirstserve' }"
					ng-click="ctrl.invite.method = 'firstcomefirstserve'"
				>
					First Come, First Served
				</button>
			</p>
		</fieldset>

		<fieldset class="rsvpCreateInviteView__formFieldset">
			<button
				type="submit"
				class="rsvpButton -typePrimary"
				ng-click="form.$valid && ctrl.createInvite(ctrl.invite)"
				ng-disabled="ctrl.isSending"
			>
				{{ ctrl.isSending ? 'Sending...' : 'Send invitation' }}
			</button>

			<span ng-if="ctrl.hasSendError" class="rsvpCreateInviteView__formSubmitMessage rsvpText -warn">
				<rsvp-icon icon="ss-alert"></rsvp-icon>
				An error occurred, please try again.
			</span>
		</fieldset>

	</form>

</div>
