<div class="rsvpInviteSummary">
	<h3 class="rsvpInviteSummary__title">
		{{ ctrl.invite.title }}
	</h3>

	<span class="rsvpInviteSummary__date">
		{{ ctrl.invite.rsvp_by_time | date:'longDate' }}
	</span>

	<span class="rsvpInviteSummary__counter">
		<rsvp-badge label="{{ ctrl.invite.responses.length }}"></rsvp-badge>
		Responses
	</span>

	<span class="rsvpInviteSummary__counter" ng-if="!ctrl.invite.active">
		<rsvp-badge label="{{ ctrl.numChosen }}"></rsvp-badge>
		Chosen
	</span>

	<span class="rsvpButton -sizeS rsvpPosition--right" ng-if="ctrl.invite.active">Live</span>
</div>
