<div class="rsvpInvitesView rsvpGrid">

	<a
		class="rsvpSlab"
		ui-sref="createInvite"
	>
		<rsvp-icon icon="ss-navigateup"></rsvp-icon>
		&nbsp;
		<span class="rsvpTextCaption">Create new invite</span>
		&nbsp;
		<rsvp-icon icon="ss-navigateup"></rsvp-icon>
	</a>

	<nav class="rsvpGrid--1/4">
		<rsvp-invite-summary
			ng-repeat="invite in ctrl.invites"
			ui-sref="invites.detail({ inviteId: invite.id })"
			ui-sref-active="-selected"
			invite="invite"
		></rsvp-invite-summary>
	</nav>

	<ui-view
		name="detail"
		class="rsvpInvitesView__detail rsvpGrid--3/4"
	></ui-view>

</div>
