<div class="rsvpInvitesView rsvpGrid">

	<div class="rsvpSlab">
		<a ui-sref="createInvite" class="rsvpText -invert">
			<rsvp-icon icon="ss-navigateup"></rsvp-icon>
			&nbsp;
			<span class="rsvpTextCaption">Create new invite</span>
			&nbsp;
			<rsvp-icon icon="ss-navigateup"></rsvp-icon>
		</a>
		<a ui-sref="logout" class="rsvpText -invert rsvpPosition--right">Log out</a>
	</div>

	<nav class="rsvpGrid--1/4">
		<rsvp-invite-summary
			ng-repeat="invite in ctrl.invites"
			ui-sref="invites.detail({ inviteId: invite.id })"
			ui-sref-active="-selected"
			invite="invite"
		></rsvp-invite-summary>
	</nav>

	<ui-view
		name="detail"
		class="rsvpInvitesView__detail rsvpGrid--3/4"
	></ui-view>

</div>
