<form>

	<!--
		Details
	-->

	<h2 class="rsvpTextHeading">
		<rsvp-badge label="1"></rsvp-badge>
		Offer details
	</h2>
	<p>
		<label class="rsvpInputLabel">Offer Description</label>
		<textarea ng-model="ctrl.invite.invitation_body" required></textarea>
	</p>
	<p>
		<label class="rsvpInputLabel">Number of invitations available</label>
		<input type="number" ng-model="ctrl.invite.response_accept_limit" required>
	</p>
	<p>
		<label class="rsvpInputLabel">RSVP By</label>
		<input type="date" ng-model="ctrl.rsvp_by_date" required>
		<input type="time" ng-model="ctrl.rsvp_by_time" required>
	</p>
	<p>
		<label class="rsvpInputLabel">Email Distribution List</label>
		<input type="date" ng-model="ctrl.invite.email_to" required>
	</p>

	<!--
		Winner selection
	-->

	<h2 class="rsvpTextHeading">
		<rsvp-badge label="2"></rsvp-badge>
		Choosing winner(s)
	</h2>
	<p>
		<label class="rsvpInputLabel">Email Distribution List</label>
		<input
			type="radio"
			radiogroup="choosing"
			ng-model="ctrl.invite.method"
			value="random"
		>
	</p>

	<button class="rsvpButton" type="submit">Send invitation</button>

</form>
