.rsvpTextHeading {
	display: block;
	margin: 0;
	padding: 0;

	&.-level2 {
		font-size: @rsvpFont__size--M;
		font-weight: @rsvpFont__weight--medium;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: @rsvpColor__text--accent;
	}

	&.-level3 {
		font-size: @rsvpFont__size--S;
		font-weight: @rsvpFont__weight--bolder;
		color: @rsvpColor__text--accent;
	}

	&.-invert {
		color: @rsvpColor__text--invert;
	}
}
