// Families
@rsvpFont__family: Avenir Next, Avenir, Helvetica, Arial, sans-serif;

// Sizes
@rsvpFont__size--S: 14px;
@rsvpFont__size--M: 18px;
@rsvpFont__size--L: 24px;

// Weights
@rsvpFont__weight--normal: 400;
@rsvpFont__weight--bold: 600;
