// Families
@rsvpFont__family: Avenir, Avenir-Book, Helvetica, Arial, sans-serif;
@rsvpFont__family--condensed: ChaletComprime-MilanEighty, Helvetica, Arial, sans-serif;

// Sizes
@rsvpFont__size--S: 14px;
@rsvpFont__size--M: 18px;
@rsvpFont__size--L: 24px;
@rsvpFont__size--XL: 30px;
@rsvpFont__size--2XL: 50px;

// Weights
@rsvpFont__weight--thinnest: normal;
@rsvpFont__weight--thinner: normal;
@rsvpFont__weight--thin: normal;
@rsvpFont__weight--medium: normal;
@rsvpFont__weight--bold: bold;
@rsvpFont__weight--bolder: bold;
@rsvpFont__weight--boldest: bold;
