.rsvpButton {
	display: inline-block;
	padding: 0.7em 1.2em 0.6em;
	font-family: @rsvpFont__family;
	font-size: @rsvpFont__size--M;
	font-weight: @rsvpFont__weight--medium;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: @rsvpColor__text;
	background: @rsvpColor__fill;
	border: 2px solid @rsvpColor__border;
	outline: none;

	&.-sizeS {
		font-size: @rsvpFont__size--S;
	}

	&.-sizeXS {
		padding: 0.5em 1em;
		font-size: @rsvpFont__size--XS;
	}

	&.-typePrimary {
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: @rsvpColor__text--accent;
		background: @rsvpColor__fill--highlight;
		border-color: transparent;
	}

	&.-typePrimaryAlt {
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: @rsvpColor__text--accent;
		background: transparent;
		border-color: @rsvpColor__border--highlight;
	}

	&.-typeSecondary {
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: @rsvpColor__text--invert;
		background: @rsvpColor__fill--dark;
		border-color: @rsvpColor__border--dark;
	}

	&.-selected {
		background: @rsvpColor__fill--selected;
	}

	&.-inline + &.-inline {
		margin-left: 8px;
	}
}
